body {
  font-family: 'Courier New', Courier, monospace;
}

button {
  border: none;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  background-color: #9dfcc3a3 ;
}

.border {
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  padding: 1rem;
}

#controlPanel {
  position: absolute;
  z-index: 999;
  padding: 1rem;
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

#bottomPanel {
  position: absolute;
  bottom: 0;
  z-index: 999;
  padding: 1rem;
  display: flex;
  gap: 5px;
}

#sequencePanel {
  display: flex;
  flex-direction: column-reverse;
  gap: 5px;
  max-height: 300px;
  overflow-y: auto;
}

.element {
  background-color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  padding: 0.2rem ;
  flex: 0 0 auto;
  align-self:flex-start;
}

.elementSmall {
  background-color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  padding: 0.2rem 0.5rem;
  font-size: 12px;
  overflow-wrap: anywhere;
  text-align: center;
  align-items: center;
  flex: 0 0 auto;
  align-self:flex-start;
}

.row{
  display: flex;
  flex-direction: row;
  gap: 5px
}

.column{
  display: flex;
  flex-direction: column;
  gap: 5px
}

.column-reverse{
  display: flex;
  flex-direction: column-reverse;
  gap: 5px
}

.flexWrap {
  flex-wrap: wrap;
}

.center{
  text-align: center;
}

#speedValue {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  text-align: right;
  width: 30px;
}

.speedButton {
  width: 30px;
}

.idlingStatus{
  background-color: none;
}
.waitingStatus{
  background-color:sandybrown;
}
.blockingStatus {
  background-color:tomato;
}
.workingStatus{
  animation: blinker 2s ease-in-out infinite;
  background-color: lightgreen;
}

.bold {
  font-weight: bold;
}

@keyframes blinker {
  50% {
    opacity: 0.5;
  }
}
